In [4]:
# all the models are regression models as the problem is a regression problem
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings 
from sklearn.metrics import r2_score, mean_absolute_error,mean_squared_error
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.model_selection import RandomizedSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
% matplotlib inline 
import warnings 
warnings.filterwarnings("ignore")

UsageError: Line magic function `%` not found.

In [3]:
df=pd.read_csv("student.csv")

In [5]:
 df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
# we can consider any variable like total_score or average or any of the scores as the 
# output variable and dependant feature

X=df.drop(columns=["math score"],axis=1)

In [7]:
y=df["math score"]

In [8]:
X.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [9]:
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math score, dtype: int64

In [12]:
# we need to go through handling the categorical features 
# as the number of categories are less, we use onehot encoding 
# in terms of having many categories, we need to use other methods like target guided encodign

num_features=X.select_dtypes(exclude="object").columns
cat_features=X.select_dtypes(include="object").columns

In [14]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

# Suppose you have a dataset with both numerical and categorical features,
#  and you want to preprocess the data by applying different transformers to
#   different subsets of features. The ColumnTransformer class allows you to
#    do this in a single step.

# First, you need to define the transformers to be applied to each subset of 
# features. For example, you might want to apply a standard scaler to the
#  numerical features and one-hot encoding to the categorical features.
#   You can define the transformers as a list of tuples, where each tuple 
#   specifies the transformer and the columns it should be applied to

In [16]:
numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder()

In [17]:
# combining as a pipeline
preprocessor=ColumnTransformer([

    ("OneHotEncoder",oh_transformer,cat_features),
    ("StandardScaler",numeric_transformer,num_features)
])

In [18]:
X=preprocessor.fit_transform(X)

In [21]:
X.shape

(1000, 19)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
x_train.shape , x_test.shape

((800, 19), (200, 19))

In [ ]:
# create ana evaluation function to give all the evaluation metrics after model training
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_square=r2_score(true,predicted)
    return mae,mse,rmse,r2_square

In [26]:
models={
    "LinearRegression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "K-Neighbor Regressor":KNeighborsRegressor(),
    "DecisionTreeRegressor":DecisionTreeRegressor(),
    "RandomForestRegressor":RandomForestRegressor(),
    "XGBRegressor":XGBRegressor(),
    "CatBoostRegressor":CatBoostRegressor(),
    "AdaBoostRegressor":AdaBoostRegressor()
}

model_list=[]
r2_list=[]

for i in range(len(list((models)))):
    # print(list(models.values())[i])
    model=list(models.values()[i])
    model.fit(x_train,y_train)
    # model traning 

# model prediction
    y_train_predict=model.predict(x_train)
    y_test_predict=model.predict(x_test)

    # model evaluation 

    model_train_mae, model_train_mse,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_predict)
    model_test_mae, model_test_mse,model_test_rmse,model_test_r2=evaluate_model(y_test,y_test_predict)

    print(list(models.keys()[i]))
    model_list.append(list(models.keys()[i]))

LinearRegression()
Lasso()
Ridge()
KNeighborsRegressor()
DecisionTreeRegressor()
RandomForestRegressor()
XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)
<catboost.core.CatBoostRegressor object at 0x000001659A4B9DC0>
AdaBoostRegressor()